<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
            <div id="image_seal_container">
                <img id="image_seal" src="assets/images/SealCircle.png"/>
                <div id="updateAvailableTooltip"><%- lang('landing.updateAvailableTooltip') %></div>
            </div>
        </div>
        <div id="content">
        </div>
        <div id="right">
            <div id="rightContainer">
                <div id="user_content">
                    <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay"><%- lang('landing.usernameEditButton') %></button>
                    </div>
                </div>
                <div id="mediaContent">
                    <div id="internalMedia">
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaButton" id="settingsMediaButton">
                                <svg id="settingsSVG" class="mediaSVG" viewBox="0 0 141.36 137.43">
                                    <path d="M70.70475616319865,83.36934004916053 a15.320781354859122,15.320781354859122 0 1 1 14.454501310561755,-15.296030496450625 A14.850515045097694,14.850515045097694 0 0 1 70.70475616319865,83.36934004916053 M123.25082856443602,55.425620905968366 h-12.375429204248078 A45.54157947163293,45.54157947163293 0 0 0 107.21227231573047,46.243052436416285 l8.613298726156664,-9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-3.465120177189462,-3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 l-8.613298726156664,9.108315894326587 A40.442902639482725,40.442902639482725 0 0 0 81.99114759747292,25.427580514871032 V12.532383284044531 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,-9.306322761594556 h-4.950171681699231 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,9.306322761594556 v12.895197230826497 a40.17064319698927,40.17064319698927 0 0 0 -9.331073620003052,4.0591407789933704 l-8.613298726156664,-9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 L25.58394128451018,23.967279868769744 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 L34.19724001066683,46.243052436416285 a45.07131316187151,45.07131316187151 0 0 0 -3.6631270444574313,9.083565035918088 h-12.375429204248078 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,9.306322761594556 v5.197680265784193 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,9.306322761594556 h11.979415469712139 a45.69008462208391,45.69008462208391 0 0 0 4.0591407789933704,10.642869115653347 l-8.613298726156664,9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 l3.465120177189462,3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l8.613298726156664,-9.108315894326587 a40.49240435629971,40.49240435629971 0 0 0 9.331073620003052,4.0591407789933704 v12.895197230826497 a9.083565035918088,9.083565035918088 0 0 0 8.811305593424633,9.306322761594556 h4.950171681699231 A9.083565035918088,9.083565035918088 0 0 0 81.99114759747292,123.68848839660077 V110.79329116577425 a40.78941465720167,40.78941465720167 0 0 0 9.331073620003052,-4.0591407789933704 l8.613298726156664,9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l3.465120177189462,-3.6631270444574313 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-8.613298726156664,-9.108315894326587 a45.665333763675406,45.665333763675406 0 0 0 4.034389920584874,-10.642869115653347 h12.004166328120636 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,-9.306322761594556 v-5.197680265784193 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,-9.306322761594556 " id="svg_3" class=""/>
                                </svg>
                                <div id="settingsTooltip"><%- lang('landing.settingsTooltip') %></div>
                            </button>
                        </div>
                    </div>
                    <div class="mediaDivider"></div>
                    <div id="externalMedia">
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.websiteURL') %>" class="mediaURL" id="linkURL">
                                <svg id="linkSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M75.37,65.51a3.85,3.85,0,0,0-1.73.42,8.22,8.22,0,0,1,.94,3.76A8.36,8.36,0,0,1,66.23,78H46.37a8.35,8.35,0,1,1,0-16.7h9.18a21.51,21.51,0,0,1,6.65-8.72H46.37a17.07,17.07,0,1,0,0,34.15H66.23A17,17,0,0,0,82.77,65.51Z"/>
                                        <path d="M66,73.88a3.85,3.85,0,0,0,1.73-.42,8.22,8.22,0,0,1-.94-3.76,8.36,8.36,0,0,1,8.35-8.35H95A8.35,8.35,0,1,1,95,78H85.8a21.51,21.51,0,0,1-6.65,8.72H95a17.07,17.07,0,0,0,0-34.15H75.13A17,17,0,0,0,58.59,73.88Z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.telegramURL') %>" class="mediaURL" id="telegramURL">
                                <svg id="telegramSVG" class="mediaSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                    <path d="M25,2c12.703,0,23,10.297,23,23S37.703,48,25,48S2,37.703,2,25S12.297,2,25,2z M32.934,34.375	c0.423-1.298,2.405-14.234,2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427,0.219	c-1.362,0.491-18.774,7.884-19.78,8.312c-0.954,0.405-1.856,0.847-1.856,1.487c0,0.45,0.267,0.703,1.003,0.966	c0.766,0.273,2.695,0.858,3.834,1.172c1.097,0.303,2.346,0.04,3.046-0.395c0.742-0.461,9.305-6.191,9.92-6.693	c0.614-0.502,1.104,0.141,0.602,0.644c-0.502,0.502-6.38,6.207-7.155,6.997c-0.941,0.959-0.273,1.953,0.358,2.351	c0.721,0.454,5.906,3.932,6.687,4.49c0.781,0.558,1.573,0.811,2.298,0.811C32.191,36.439,32.573,35.484,32.934,34.375z"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.discordURL') %>" class="mediaURL" id="discordURL">
                                <svg id="discordSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M81.23,78.48a6.14,6.14,0,1,1,6.14-6.14,6.14,6.14,0,0,1-6.14,6.14M60,78.48a6.14,6.14,0,1,1,6.14-6.14A6.14,6.14,0,0,1,60,78.48M104.41,73c-.92-7.7-8.24-22.9-8.24-22.9A43,43,0,0,0,88,45.59a17.88,17.88,0,0,0-8.38-1.27l-.13,1.06a23.52,23.52,0,0,1,5.8,1.95,87.59,87.59,0,0,1,8.17,4.87s-10.32-5.63-22.27-5.63a51.32,51.32,0,0,0-23.2,5.63,87.84,87.84,0,0,1,8.17-4.87,23.57,23.57,0,0,1,5.8-1.95l-.13-1.06a17.88,17.88,0,0,0-8.38,1.27,42.84,42.84,0,0,0-8.21,4.56S37.87,65.35,37,73s-.37,11.54-.37,11.54,4.22,5.68,9.9,7.14,7.7,1.47,7.7,1.47l3.75-4.68a21.22,21.22,0,0,1-4.65-2A24.47,24.47,0,0,1,47.93,82S61.16,88.4,70.68,88.4c10,0,22.75-6.44,22.75-6.44a24.56,24.56,0,0,1-5.35,4.56,21.22,21.22,0,0,1-4.65,2l3.75,4.68s2,0,7.7-1.47,9.89-7.14,9.89-7.14.55-3.85-.37-11.54"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.vkURL') %>" class="mediaURL" id="vkURL">
                                <svg version="1.1" id="vkSVG" class="mediaSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 363.301 363.301">
                                <path d="M347.506,240.442c-7.91-9.495-16.899-18.005-25.592-26.235c-3.091-2.927-6.287-5.953-9.368-8.962
                                    c-8.845-8.648-9.167-11.897-2.164-21.72c4.845-6.771,9.982-13.551,14.95-20.108c4.506-5.949,9.166-12.101,13.632-18.273l0.917-1.269
                                    c8.536-11.811,17.364-24.024,22.062-38.757c1.22-3.887,2.501-9.607-0.428-14.39c-2.927-4.779-8.605-6.237-12.622-6.918
                                    c-1.987-0.337-3.96-0.383-5.791-0.383l-55.901-0.04l-0.462-0.004c-8.452,0-14.148,3.983-17.412,12.178
                                    c-3.116,7.83-6.539,16.168-10.445,24.096c-7.773,15.787-17.645,33.97-31.93,49.135l-0.604,0.645
                                    c-1.687,1.813-3.598,3.866-4.995,3.866c-0.214,0-0.447-0.041-0.711-0.124c-2.959-1.153-4.945-8.316-4.855-11.648
                                    c0.001-0.046,0.002-0.092,0.002-0.138l-0.039-64.61c0-0.224-0.016-0.446-0.045-0.668c-1.422-10.503-4.572-17.041-16.474-19.372
                                    c-0.316-0.063-0.639-0.094-0.961-0.094h-58.126c-9.47,0-14.688,3.849-19.593,9.61c-1.324,1.54-4.08,4.746-2.714,8.635
                                    c1.386,3.947,5.885,4.791,7.35,5.065c7.272,1.384,11.371,5.832,12.532,13.604c2.027,13.496,2.276,27.901,0.784,45.334
                                    c-0.416,4.845-1.239,8.587-2.595,11.784c-0.315,0.746-1.432,3.181-2.571,3.182c-0.362,0-1.409-0.142-3.316-1.456
                                    c-4.509-3.089-7.808-7.497-11.654-12.942c-13.084-18.491-24.065-38.861-33.575-62.288c-3.527-8.624-10.114-13.452-18.556-13.594
                                    c-9.276-0.141-17.686-0.209-25.707-0.209c-8.764,0-16.889,0.081-24.823,0.246C8.914,83.74,4.216,85.776,1.744,89.676
                                    c-2.476,3.903-2.315,9.03,0.479,15.236c22.366,49.723,42.645,85.876,65.755,117.228c16.193,21.938,32.435,37.123,51.109,47.784
                                    c19.674,11.255,41.722,16.727,67.402,16.727c2.911,0,5.921-0.071,8.956-0.213c14.922-0.727,20.458-6.128,21.158-20.657
                                    c0.333-7.425,1.145-15.212,4.795-21.853c2.304-4.184,4.452-4.184,5.158-4.184c1.36,0,3.046,0.626,4.857,1.799
                                    c3.248,2.12,6.033,4.96,8.316,7.441c2.149,2.357,4.274,4.738,6.401,7.12c4.59,5.141,9.336,10.456,14.294,15.497
                                    c10.852,11.041,22.807,15.897,36.538,14.843h51.252c0.109,0,0.219-0.004,0.328-0.011c5.107-0.337,9.53-3.17,12.135-7.772
                                    c3.227-5.701,3.162-12.974-0.174-19.46C356.718,251.867,351.808,245.601,347.506,240.442z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.youtubeURL') %>" class="mediaURL" id="youtubeURL">
                                <svg id="youtubeSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M84.8,69.52,65.88,79.76V59.27Zm23.65.59c0-5.14-.79-17.63-3.94-20.57S99,45.86,73.37,45.86s-28,.73-31.14,3.68S38.29,65,38.29,70.11s.79,17.63,3.94,20.57,5.52,3.68,31.14,3.68,28-.74,31.14-3.68,3.94-15.42,3.94-20.57"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.pinterestURL') %>" class="mediaURL" id="pinterestURL">
                                <svg version="1.1" id="pinterestSVG" class="mediaSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.883 512.883">
                                <path d="M256.441,0c-141.241,0-256,114.759-256,256c0,105.048,62.676,195.09,153.6,234.814
                                    c-0.883-17.655,0-39.724,4.414-59.145c5.297-21.186,32.662-139.476,32.662-139.476s-7.945-16.772-7.945-40.607
                                    c0-37.959,22.069-66.207,49.434-66.207c22.952,0,34.428,17.655,34.428,38.841c0,22.952-15.007,58.262-22.952,90.924
                                    c-6.179,27.366,13.241,49.434,40.607,49.434c48.552,0,81.214-62.676,81.214-135.945c0-56.497-37.959-97.986-106.814-97.986
                                    c-77.683,0-126.234,58.262-126.234,122.703c0,22.069,6.179,37.959,16.772,50.317c4.414,5.297,5.297,7.945,3.531,14.124
                                    c-0.883,4.414-4.414,15.89-5.297,20.303c-1.766,6.179-7.062,8.828-13.241,6.179c-36.193-15.007-52.083-53.848-52.083-97.986
                                    c0-72.386,60.91-159.779,182.731-159.779c97.986,0,162.428,70.621,162.428,146.538c0,100.634-55.614,175.669-137.71,175.669
                                    c-27.366,0-53.848-15.007-62.676-31.779c0,0-15.007,59.145-17.655,70.621c-5.297,19.421-15.89,39.724-25.6,54.731
                                    c22.952,7.062,47.669,10.593,72.386,10.593c141.241,0,256-114.759,256-256S397.683,0,256.441,0"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                        <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                    </div>
                    <div class="bot_divider"></div>
                    <div id="mojangStatusWrapper">
                        <span class="bot_label"><%- lang('landing.mojangStatus') %></span>
                        <span id="mojang_status_icon">&#8226;</span>
                        <div id="mojangStatusTooltip">
                            <div id="mojangStatusTooltipTitle"><%- lang('landing.mojangStatusTooltipTitle') %></div>
                            <div id="mojangStatusEssentialContainer">
                                <!-- Essential Mojang services are populated here. -->
                            </div>
                            <div id="mojangStatusNEContainer">
                                <div class="mojangStatusNEBar"></div>
                                <div id="mojangStatusNETitle"><%- lang('landing.mojangStatusNETitle') %></div>
                                <div class="mojangStatusNEBar"></div>
                            </div>
                            <div id="mojangStatusNonEssentialContainer">
                                <!-- Non Essential Mojang services are populated here. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                    <button id="newsButton">
                        <!--<img src="assets/images/icons/arrow.svg" id="newsButtonSVG"/>-->
                        <div id="newsButtonAlert" style="display: none;"></div>
                        <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        &#10;<span id="newsButtonText"><%- lang('landing.newsButton') %></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button"><%- lang('landing.launchButton') %></button>
                    <div class="bot_divider"></div>
                    <button id="server_selection_button" class="bot_label"><%- lang('landing.launchButtonPlaceholder') %></button>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsContainer">
        <div id="newsContent" article="-1" style="display: none;">
            <div id="newsStatusContainer">
                <div id="newsStatusContent">
                    <div id="newsTitleContainer">
                        <a id="newsArticleTitle" href="#">Lorem Ipsum</a>
                    </div>
                    <div id="newsMetaContainer">
                        <div id="newsArticleDateWrapper">
                            <span id="newsArticleDate">Mar 15, 44 BC, 9:14 AM</span>
                        </div>
                        <div id="newsArticleAuthorWrapper">
                            <span id="newsArticleAuthor">by Cicero</span>
                        </div>
                        <a href="#" id="newsArticleComments">0 Comments</a>
                    </div>
                </div>
                <div id="newsNavigationContainer">
                    <button id="newsNavigateLeft">
                        <svg id="newsNavigationLeftSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                    <span id="newsNavigationStatus"><%- lang('landing.newsNavigationStatus', { currentPage: 1, totalPages: 1 }) %></span>
                    <button id="newsNavigateRight">
                        <svg id="newsNavigationRightSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="newsArticleContainer">
                <div id="newsArticleContent">
                    <div id="newsArticleContentScrollable">
                        <!-- Article Content -->
                    </div>
                </div>
            </div>
        </div>
        <div id="newsErrorContainer">
            <div id="newsErrorLoading">
                <span id="nELoadSpan" class="newsErrorContent"><%- lang('landing.newsErrorLoadSpan') %></span>
            </div>
            <div id="newsErrorFailed" style="display: none;">
                <span id="nEFailedSpan" class="newsErrorContent"><%- lang('landing.newsErrorFailedSpan') %></span>
                <button id="newsErrorRetry"><%- lang('landing.newsErrorRetryButton') %></button>
            </div>
            <div id="newsErrorNone" style="display: none;">
                <span id="nENoneSpan" class="newsErrorContent"><%- lang('landing.newsErrorNoneSpan') %></span>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>